<table ng-repeat="jeux in datas">
  <tr>
    <th>
      Game
    </th>
    <th>
      Category
    </th>
    <th>
      Record
    </th>
    <th style="width:5%">
      Speedrun
    </th>
  </tr>
  <tr >
    <td class="gameCat">
      {{jeux.nomjeu}}
    </td>
    <td class="gameCat">
      {{jeux.nomcategorie}}
    </td>
    <td>
      {{jeux.finalTime}}
    </td>
    <td>
      <a ng-click="goSpeedrun()">GO</a>
    </td>
  </tr>
</table>


<button ng-click="activate(1)">ADD JEU</button>

<button ng-click="activate(2)">ADD CATEGORY</button>

<div id="adding">
  <h3>{{messageAdd}}</h4>
  <form id="addGameform" ng-show="active(1)">

      <input placeholder="New Game" type="text" name="namegame" ng-model="namegame" required>

      <input placeholder="Game type" type="text" name="typegame" ng-model="typegame" required>

      <input placeholder="Description" type="text" name="descgame" ng-model="descgame">

      <button id="addGamebtn" type="button" class="btn waves-effect waves-light" ng-click="addGame()">Add Game</button>

    </form>

    <form id="addCatform" ng-show="active(2)">

      <input placeholder="Game name" type="text" name="game" ng-model="game" required>

      <input placeholder="New category" type="text" name="namecat" ng-model="namecat" required>

      <input placeholder="Description/ Advices" type="text" name="descat" ng-model="descat">

    </form>

  </form>
</div>
