<table>

  <tr id="gamesMainBar">
    <th class="gameTitle">
      Game
    </th>
    <th>
      Category
    </th>
    <th>
      Details
    </th>
    <th>
      Rules
    </th>
    <th style="width:10%">
      Speedrun
    </th>
  </tr>

    <tr id="games" ng-repeat="jeux in datas">
        <td>
          {{jeux.nomjeu}}
        </td>
        <td>
          {{jeux.nomcategorie}}
        </td>
        <td>
          <p>{{jeux.descriptionjeu}}</p>
        </td>
        <td>

          {{jeux.descriptioncategorie}}
        </td>
        <td>
          <i  ng-hide="gamebutton(jeux.nomjeu,jeux.nomcategorie)" ng-click="addUserGame(jeux.nomcategorie,jeux.nomjeu)" class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>

        </td>

    </tr>
</table>





<table id="adding">

  <tr>
    <th >
      <div id="indexForm">

        <h4>{{messageAlert}}</h4>
        <br/>
        <button id="gameFormbtn" class="btn waves-effect" ng-click="activate(1)">NEW GAME</button>
        <button id="catFormbtn" class="btn waves-effect" ng-click="activate(2)">NEW CATEGORY</button>

        <form  ng-show="active(1)">
          <br/>
          <h3>{{messageAdd}}</h3>
          <br/>

            <input placeholder="New Game" type="text" name="namegame" ng-model="namegame" required>

            <input placeholder="Game type" type="text" name="typegame" ng-model="typegame" required>

            <input placeholder="Description" type="text" name="descgame" ng-model="descgame">

            <button id="addGamebtn" type="submit" class="btn waves-effect waves-light" ng-click="addGame()">Add Game</button>

          </form>

          <form ng-show="active(2)">
            <br/>
            <h3>{{messageAdd}}</h3>
            <h6>{{messageAddCat}}</h6>
            <br/>

            <select id="selt" ng-model="game">
              <option value="" disabled selected>Select Game..</option>
              <option ng-repeat="jeux in games" value="{{jeux.nomjeu}}">{{jeux.nomjeu}}</option>
            </select>





            <input placeholder="New category" type="text" name="namecat" ng-model="namecat" required>

            <input placeholder="Description/ Advices" type="text" name="descat" ng-model="descat">

            <button id="addGamebtn" type="button" class="btn waves-effect waves-light" ng-click="addCategory()">Add Category</button>

          </form>

    </th>
    <th id="indexGames">
          <ul ng-repeat="jeux in games">
            <li>{{jeux.nomjeu}}</li>
          </ul>
    </th>
  </tr>
</table>
