<div id="titleHome">
  <h3>Hello {{activeUser}} !</h3>
</div>

<div id="userGames">
  <table  ng-repeat="jeux in datas">
    <tr>
      <th colspan="2">
        Game {{jeux.nomjeu || 'No games found'}}
      </th>
    </tr>
    <tr>
      <td style="width:70%" class="gameCat">
        Categorie {{jeux.descriptionjeu}}
      </td>

      <td>
        Record <a <href="#">BEAT</a>
        </hgroup>
      </td>
    </tr>
  </table>
</div>

<div id="addGame">
  <form>

    <input placeholder="New game">

  </form>
</div>
