<div id="titleHome">
  <h3>Hello {{activeUser}} !</h3>
</div>

<div id="userGames">
  <h4 ng-show="active">{{messageAlert}}</h4>
  <table ng-hide="active()" ng-repeat="jeux in datas">
    <tr>
      <th colspan="3">
        Game {{jeux.nomjeu}}
      </th>
    </tr>
    <tr>
      <td style="width:70%" class="gameCat">
        Categorie {{jeux.descriptionjeu}}
      </td>

      <td>
        Record
      </td>
      <td>
        <img src="./images/joystick.png" />
      </td>
    </tr>
  </table>
</div>


</div>
