<div id="titleHome">
  <h3>Welcome {{activeUser}} !</h3>
</div>

<div id="userGames">
  <h4 ng-show="active">{{messageAlert}}</h4>
  <table ng-hide="active()" ng-repeat="jeux in datas">
    <tr>
      <th colspan="3">
        {{jeux.nomjeu}}
      </th>
    </tr>
    <tr>
      <td style="width:70%" class="gameCat">
        Categorie {{jeux.nomcategorie}}
      </td>

      <td>
        Record
      </td>
      <td>
        <img src="./images/joystick.png" ng-click="speedrun(jeux.nomjeu,jeux.idcategorie)"/>
      </td>
    </tr>
  </table>
</div>

<div id="statsHome">
  <div id="statsUser">
  </div>
  <div id="statsGame">
  </div>
</div>
