<img src="./images/logo.png" class="responsive-img"/>
<form class="forms" id="loginForm">
    <table>
      <th style="width:40%">
        <h4>Welcome on SpeedRunners</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Speedrun Comunautary Project</p>
      </th>

      <th style="width:10%">
        <input type="text" name="user" ng-model="user" required>
        <label>User</label>
      </th>
      <th style="width:10%">
        <input type="password" name="password" ng-model="password" required>
        <label>Mot de passe</label>
      </th>
      <th style="width:10%">
        <button id="LoginBut" class="btn waves-effect waves-light" type="button" ng-click="login()" >Sign In</button>
      </th>
    </table>
    <div>
      {{alertMessage}}
    </div>
</form>

<table class="forms">
  <th id="intro">
    <h4>Join the community !</h4>

    <p>Complete whole games in the shortest time </p>
    <p>You'll get advices to begin, beat the time and appear in the world ranking ! </p>

  </th>

  <th style="width:20%">
    <form id="signUpForm">
      <p> Sign up right now ! </p>
      <input placeholder="Pseudo" type="text" name="username" ng-model="username" required>

      <input placeholder="Password" type="password" name="passOne"ng-model="passwordOne" required>

      <input placeholder="Confirm Password" type="password" name="passTwo"ng-model="passwordTwo" required>

      <button id="signUpBut" type="button" class="btn waves-effect waves-light" ng-click="signUp()" >Sing Up</button>
    </form>
  </th>

</table>
