
<div id="speedrun">

  <table >
    <tr>
      <th id="titleSR" colspan="5">
        <h4>{{nameGame}}</h4>
        <h5>{{nameCat}}</h5>
        <p>{{descCat}}</p>
      </th>
    </tr>
    <tr>
      <td id="timer">
        <h2>{{counterMin + ":" + counter}}</h2>
      </td>
      <td id="playBtn" ng-click="Counter()">
        <div ng-show="btnActive(1)" ><i class="fa fa-stop fa-5x" aria-hidden="true"></i><h3>FINISH</h3></div>
        <div ng-show="btnActive(2)"><i class="fa fa-play fa-5x" aria-hidden="true"></i><h3>START</h3></div>
        <div ng-show="btnActive(3)"><i class="fa fa-code fa-5x" aria-hidden="true"></i><h3>SPLIT</h3></div>
        <div ng-show="btnActive(4)"><i class="fa fa-floppy-o fa-5x" aria-hidden="true"></i><h3>SAVE</h3></div>
      </td>
    </tr>
    <tr>
      <td id="splits">

        <table>
          <th id="splitname">
              <p ng-repeat="splits in runS.run">
                {{splits}}
              </p>
          </th>


          <th  id="timesplit">
            <p ng-repeat="time in splitsTime">
              {{time}}
            </p>
          </th>
          <th id="gapsplit">

          </th>

        </table>



        <table id="bottomSplits">
          {{messageAlert}}
          <tr>
            <td id="settingsSplits" colspan="3">
                <select ng-model="splitsSel">
                  <option value="" disabled selected>Select splits..</option>
                  <option ng-repeat="splits in dataRun" value="{{splits.datasplits}}">{{splits.datasplits}}</option>
                </select>
                <button id="AddSplitsBut" class="btn waves-effect waves-light" ng-click="setSplits()">Set</button>
                <br/>
                <input id="newSplits" ng-model="newsplits" placeholder="Input new splits (separate them with comas)"></input>
                <button id="newSplitsBut" class="btn waves-effect waves-light" ng-click="addSplits()">Go</button>
            </td>
          <td colspan="2" id="recordUser">
              <p>PB : </p>
              <p> {{ pbMins + ":" + pbSecs || "/"}} </p>
            </td>
          </tr>
        </table>
      </td>
      <td id="resets">
        <div ng-click="resetCounter()">
          <i class="fa fa-repeat fa-5x" aria-hidden="true"></i>
          <h3>RESET</h3>
        </div>
      </td>
    </tr>
  </table>
</div>
