
<div id="speedrun">
  <table >
    <tr>
      <th id="titleSR" colspan="5">
        <h4>{{nameGame}}</h4>
        <h5>{{nameCat}}</h5>
        <p>{{descCat}}</p>
      </th>
    </tr>
    <tr>
      <td id="timer">
        TIMER
      </td>
      <td id="playBtn">
        PLAY/SPLITS
      </td>
    </tr>
    <tr>
      <td id="splits">

        <table>
          <tr>
            <td id="splitname">
              split1
            </td>
            <td id="timesplit">
              time1
            </td>
            <td id="gapsplit">
              ecart1
            </td>
          </tr>
        </table>


        best time
        WR

      </td>
      <td id="resets">
        RESET button
      </td>
    </tr>
  </table>
</div>
