/* BODY */
body{


  background-color: #252525;
  padding-top: 2%;
  padding-left: 12%;
  padding-right:12%;
  padding-bottom: 2%;



}


#bodyScale{

  background-color: #C5C5C5;
  padding-bottom: 3%;

}


/* LOGIN - SIGNUP VIEWS */

.forms{
  margin-left: 6%;
  margin-right: 6%;
  margin-top:4%;
  margin-bottom: 4%;
  text-align: center;
}

#loginForm{
  font-size: 23px;
  font-style: italic;
  font-family: "Tw Cen MT", sans-serif;
  background-color: #CD2828;
  text-align: center;
  color:white;
  padding-left: 6%;
}

#signUpForm{
  font-family: "Tw Cen MT", sans-serif;
  font-size:29px;
  text-decoration: underline;
  background-color: #606060;
  color: white;
  padding: 5%;
  margin-right: 25%;
  margin-left: 5%;
}


#intro{
  width:15%;
  text-align: center;
  background-color: #DDDDDD;
  margin:50px;
  padding:50px;
  color:#CD2525;

}

#loginForm input:focus + label {
  color: #CDCDCD !important;
}

#loginForm input:focus {
  border-bottom: 1px solid #CDCDCD !important ;
  box-shadow: 0 1px 0 0 #CDCDCD !important;
}


#signUpForm input:focus {
  border-bottom: 1px solid #060606 !important ;
  box-shadow: 0 1px 0 0 #060606 !important;
  color:#060606;
}


label{
  color: white;
}

#LoginBut{
  font-size: 15px;
  font-style: italic;
  background-color: #88CC88;
  box-shadow: 0 0 1px 1px;
}

#signUpBut{
  font-size: 15px;
  background-color: #7777DD;
}


*::-webkit-input-placeholder { /* Chrome */
    color: #FBFBFB;
    opacity: 0.7;
}
*:-moz-placeholder { /* FF 4-18 */
    color: #FBFBFB;
    opacity: 0.7;
}
*::-moz-placeholder { /*FF 18+*/
    color: #FBFBFB;
    opacity: 0.7;
}
*:-ms-input-placeholder { /* IE-EDGE */
    color: #FBFBFB;
    opacity: 0.7;
}

.alert{
  font-family: "Lucida Console";
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color:#FF5500;
}

/* NAV BAR HEADER */


#navigationBar {

  height:60px;
  font-weight:400 ;
  color: #A8A8A8;
  background-color: #848484;
  text-transform: uppercase;
  font-family: "Tw Cen MT", sans-serif;


}


#LogoutBut{
  height: 60px;
  background-color: #CD2222;
}


/**** HOME ****/

#titleHome{
  text-align: center;
  font-family: "Tw Cen MT", sans-serif;
  background-color: #CD2828;
}

#userGames{
  font-family: "Tw Cen MT";
  text-align: center;
  background-color: #CDCDCD;
  margin-left: 6%;
  margin-right: 6%;
  margin-top:4%;
  margin-bottom: 4%;
}

#userGames h4{
    text-align: center;
    color: #AD5555;
    font-family: 'Courier New', sans-serif;
}

#userGames h5{
    position: relative;
    left: 10%;
}



/*** GAMES ***/

#games{
  background-color: #DCDCDC;
  height:40px;
  margin-bottom: -10px;;
}
#gamesMainBar{

    font-family: 'Segoe UI', sans-serif;
    font-size: 150%;
    font-weight: 300;
    color: #AA2222;
}
#gamesMainBar td{
  margin:15%;
}

#games td{
  text-align: center;
}

#games td{
  border-right: 1px solid #BBBBBB;
}

#games p{
  font-weight: 300;
  font-style: italic;
}


#adding{

}

#indexForm{
  width: 70%;
  margin:4%;
  padding:10%;
  background-color:#771111;
  position: relative;
  left: 10%;
}



#adding h3{
    text-align: center;
    color: #FF3333;
    font-family: 'Courier New', sans-serif;
}

#adding h4{
    text-align: center;
    font-weight: bold;
    color: #440000;
    font-family: 'Courier New', sans-serif;
}

#adding h6{
    color: #AD5555;
    font-style: italic;
    font-weight: lighter;
    position: relative;
    left: 10%;
}

#adding input:focus {
    border-bottom: 1px solid #444444 !important ;
    box-shadow: 0 1px 0 0 #A84444 !important;
}

/* buttons */

#addGamebtn{
  font-size: 15px;
  font-style: italic;
  background-color: #FFDDDD;
  color: black;
  position: relative;
  left:55%;
}


#gameFormbtn{
  background-color: #EE6666;
  position: relative;
  left:17%;

}
#catFormbtn{
  background-color: #CD4444;
  position: relative;
  left:20%;
}



#indexGames{
  width:15%;
  background-color: #333333;
  text-align: right;
  opacity: 0.5;
  color:#EEEEEE;
  font-family: "Tw Cen MT", sans-serif;
  font-size: 22px;
  font-weight: 100;
}

#selt{
  background-color: #663366;
  visibility: visible;
}

timer {
  background-color: #111111;
  color=white;
}
select{
  display: block;
}




/****** SPEED RUN VIEW ******/

#speedrun{
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 12%;
  padding-right: 12%;

}

#titleSR{
  width: 100%;
  height: 180px;
  background-color: #aa2222;
  text-align: center;
}

#titleSR h5{
  font-family: 'Lucida Sans Typewriter';
  font-style: italic;
}
#titleSR h4{
  font-family: 'Verdana';
}
#titleSR p{
  font-family: 'Segoe UI';
  font-weight: 500;

}


#timer{

  text-align: center;
  color: white;
  height: 150px;
  width: 60%;
  background-color: #868686;
}

#timer h2{
  font-size: 1000%;
  font-family: "Tw Cen MT", sans-serif;
}

#playBtn{
  background-color: #CCCCCC;
  width: 40%;
}


#splits{
  width: 70%;
  height: 400px;
  background-color: #442222;
  color:white;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  position: relative;

}

#bottomSplits{
  height: 80px;
  background-color: #351717;
  width: 100%;
}

#settingsSplits{
  position: relative;
  width: 60%;
}

#settingsSplits select{
  height: 90%;
  width: 100%;
  background-color: #AA2222;
  font-size: 10px;
}


#settingsSplits option{
  font-family: 'Lucida Sans Typewriter';
  color:#AAAAAA;
}

#recordUser{

  background-color: #AA2222;
  color:#CCCCCC;
  text-align: center;


}











#newSplits{
  width: 70%;
  font-size: 10px;
}




#resets{
  width: 30%;
  background-color: #DFDFDF;
}
#splitname{
  width: 60%;

}

#timesplit{
  width: 20%;
  padding: 5%;
  position: absolute;
  top: 0;
}
#timesplit p{

}

#gapsplit{
  width: 20%;
}
